<h1>James Corden Tweets</h1>
<%= image_tag("james.jpg", class: "picture") %>

<!-- Display each tweet -->
<% n = 0 %>
<% @tweets.each do |tweet| %>
<p>
  <% n += 1 %>
  <%= n %>
  <%= tweet.text %>
  <%= "#{time_ago_in_words(tweet.created_at)} ago (#{tweet.created_at.strftime("%b %d, %Y")})" %>
</p>
<% end %>



